.sidenav {
  position: fixed;
  height: 100vh;
  background-color: rgba(6, 155, 81, 0.808);
  padding: 15px;
  ul {
    list-style: none;
    padding: 0px;
  }
  ul li {
    margin-top: 45px;
  }
  ul li a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    display: grid;
    align-items: center;
    text-align: center;
  }
}
